@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">
    <ChildContent>Render Fragement From Parent! WooHoo!</ChildContent>
    @*<DangerChildContent>Danger Content from Render Fragement! WooHOO!</DangerChildContent>*@
</_ChildComponent>

<p><b>@messageText</b></p>

@*<_ChildComponent Title="This is second child component">
</_ChildComponent>*@

@code {
    public string messageText { get; set; }

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from child Component";
    }
}
